#main{
    text-align: center;
}
table{
    
    width: 50%;
    margin: 0 auto;
    
}
tr,td{
    border:1px solid black;
    width: 10px;
    height: 10px;
}
#startGame{
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

#showNextGen{
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}