h1
{
    padding-top: 30px;
    padding-bottom: 50px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 30px;
}
#main{
    text-align: center;
}
table{
    
    width: 40%;
    margin: 0 auto;
    padding-bottom: 40px;
    
}
tr,td{
    border:1px solid black;
    width: 10%;
    height: 10px;
}
#startGame{
    border: none;
    border-radius: 2px;

    text-align: center;
    text-decoration: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    background-color: dodgerblue;
    color: white;
    cursor: pointer;

    padding: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: inline-block;
}

#restartGame{
    border: none;
    border-radius: 2px;

    text-align: center;
    text-decoration: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    background-color: dodgerblue;
    color: white;
    cursor: pointer;

    padding: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: inline-block;
}

#showNextGen{
    border: none;
    border-radius: 2px;

    text-align: center;
    text-decoration: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    background-color: dodgerblue;
    color: white;
    cursor: pointer;

    padding: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
    display: inline-block;
}